<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <title>Approval Pelatihan</title>

    <style>
        /* Custom Styles */
        .btn-custom-size {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .status-badge {
            font-size: 0.85rem;
        }

        .action-buttons {
            display: flex;
            justify-content: space-between;
        }

        .btn-available {
            background-color: #087988;
            /* Warna tosca */
            color: #ffffff;
            /* Warna teks putih */
        }
    </style>

</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('pelatihan')}"></nav>
    <br>

    <div class="container">
        <div class="text-center pt-5">
            <h2 style="color: #153476">Daftar Approval Pelatihan</h2>
        </div>

        <table class="table table-striped mt-4" id="tablePelatihan">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Pelatihan</th>
                    <th>Deskripsi</th>
                    <th>Waktu Buat</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Approval</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pelatihan, iterationStatus : ${listPelatihan}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${pelatihan.namaPelatihan}"></td>
                    <td th:text="${pelatihan.deskripsi}"></td>
                    <td class="waktu-buat" th:text="${pelatihan.waktuPembuatan}"></td>

                    <td>
                        <span class="badge status-badge" th:switch="${pelatihan.statusApproval}">
                            <span th:case="1" class="badge bg-warning">Requested</span>
                            <span th:case="2" class="badge bg-success">Approved</span>
                            <span th:case="3" class="badge bg-danger">Rejected</span>
                            <span th:case="4" class="badge bg-warning">Delete Requested</span>
                            <span th:case="5" class="badge bg-primary">Done</span>
                            <span th:case="*" th:text="${pelatihan.statusApproval}"></span>
                        </span>
                    </td>


                    <td>
                        <a type="button" class="btn btn-md btn-available btn-custom-size"
                            th:href="@{/pelatihan/detail(id=${pelatihan.idPelatihan})}">Detail</a>
                        <div class="btn-group" th:if="${pelatihan.statusApproval == 2}">
                            <!-- Form untuk Done -->
                            <form th:action="@{/pelatihan/done(id=${pelatihan.idPelatihan})}" method="post">
                                <input type="hidden" name="idPelatihan" th:value="${pelatihan.idPelatihan}">
                                <input type="submit" value="Mark as Done" class="btn btn-warning btn-custom-size">
                            </form>
                        </div>
                        <div class="btn-group" th:if="${pelatihan.statusApproval == 4}">
                            <!-- Form untuk Delete -->
                            <form th:action="@{/pelatihan/delete(id=${pelatihan.idPelatihan})}" method="post"
                                onsubmit="return confirm('Apakah Anda yakin ingin menghapus pelatihan ini?');">
                                <input type="hidden" name="idPelatihan" th:value="${pelatihan.idPelatihan}">
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                            <form th:action="@{/pelatihan/approve(id=${pelatihan.idPelatihan})}" method="post">
                                <input type="hidden" name="idPelatihan" th:value="${pelatihan.idPelatihan}">
                                <input type="submit" value="Ignore" class="btn btn-warning">
                            </form>
                        </div>

                        <!-- Modal for Reject -->
                        <div th:attr="id='rejectModal'+${pelatihan.idPelatihan}" class="modal fade" tabindex="-1"
                            aria-labelledby="rejectModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Reject Pelatihan</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <form th:action="@{/pelatihan/reject}" method="post">
                                            <input type="hidden" name="idPelatihan" th:value="${pelatihan.idPelatihan}">
                                            <div class="mb-3">
                                                <label for="rejectReason" class="form-label">Alasan Penolakan</label>
                                                <textarea class="form-control" name="komentar" id="rejectReason"
                                                    rows="3"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-available">Submit</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" th:if="${pelatihan.statusApproval == 1}">
                            <!-- Form untuk Approve -->
                            <form th:action="@{/pelatihan/approve(id=${pelatihan.idPelatihan})}" method="post">
                                <input type="hidden" name="idPelatihan" th:value="${pelatihan.idPelatihan}">
                                <input type="submit" value="Approve" class="btn btn-success">
                            </form>

                            <!-- Trigger Modal untuk Reject -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                th:attr="data-bs-target='#rejectModal'+${pelatihan.idPelatihan}">Reject</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div style="height: 100px;"></div>

    <script>
        $(document).ready(function () {
            $('#tablePelatihan').DataTable({
                "lengthMenu": [5, 10, 20],
                "columnDefs": [
                    { targets: [6], sortable: false },
                ]
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            // Pilih semua elemen yang memiliki class 'waktu-buat'
            document.querySelectorAll('.waktu-buat').forEach(function (elem) {
                // Ambil teks isi elemen (waktu ISO 8601)
                var waktuISO = elem.textContent;
                // Ubah menjadi objek Date
                var date = new Date(waktuISO);
                // Format ulang tanggal: gunakan format yang Anda inginkan
                var formattedDate = date.toLocaleString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' });
                // Ganti teks elemen dengan tanggal yang sudah diformat
                elem.textContent = formattedDate;
            });
        });

    </script>

</body>

</html>