<!-- <!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Form Add Pelatihan</title>

    <style>
      .btn-available {
          background-color: #087988;
          /* Warna tosca */
          color: #ffffff;
          /* Warna teks putih */
      }

      .btn-done {
          background-color: #e9ecef;
          /* Warna abu-abu muda */
          color: #000;
          /* Warna teks hitam */
      } 
  </style>
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar('pelatihan')}"></nav>
  <br>
  <div class="container">
    <div class="card m-4 p-4">
      <div class="card-body">
        <div class="justify-content-center">
          <h2 class="text-center">Tambah Pelatihan</h2>
          <br>

          <form th:action="@{/pelatihan/add}" th:object="${pelatihanDTO}" method="POST" class="my-form">
            <div class="mb-3">
                <label for="namaPelatihan">Nama Pelatihan:</label>
                <input id="namaPelatihan" class="form-control rounded-pill" type="text" placeholder="Masukkan nama pelatihan" th:field="*{namaPelatihan}" required/>
            </div>
            <div class="form-group mb-3">
                <label for="deskripsi">Deskripsi Pelatihan:</label>
                <input id="deskripsi" class="form-control rounded-pill" type="text" placeholder="Masukkan deskripsi pelatihan" th:field="*{deskripsi}" required/>
            </div>
            <div class="form-group mb-3">
                <label for="tempat">Tempat Pelatihan:</label>
                <input id="tempat" class="form-control rounded-pill" type="text" placeholder="Masukkan tempat pelatihan" th:field="*{tempat}" required/>
            </div>
            <div class="form-group mb-3">
                <label for="narahubung">Narahubung:</label>
                <input id="narahubung" class="form-control rounded-pill" type="text" placeholder="Masukkan narahubung. contoh: Nama - Nomor Telepon" th:field="*{narahubung}" required/>
            </div>
            <div class="form-group mb-3">
                <label for="tipePelatihan">Jenis Pelatihan:</label>
                <div class="input-group">
                    <select class="custom-select rounded-pill" name="tipePelatihan" id="tipePelatihan" th:field="*{tipe}" required>
                        <option value="Gernastastaka">Gernastastaka</option>
                        <option value="Gernastastaba">Gernastastaba</option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text rounded-pill"><i class="fas fa-caret-down"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="tanggal">Tanggal Pelatihan:</label>
                <input id="tanggal" class="form-control rounded-pill" type="date" th:field="*{tanggal}" required/>
            </div>
            <button class="btn btn-available" type="submit" onclick="return confirmRegistration()" style="padding: 0.5rem 1.5rem; outline: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">Submit</button>
        </form>
        
        

          <form th:action="@{/pelatihan/add}" th:object="${pelatihanDTO}" method="POST">
            Nama Pelatihan: <br>
            <input class="form-control" type="text" th:field="*{namaPelatihan}" required />
            </br>

            Deskripsi Pelatihan: <br>
            <input class="form-control" type="text" th:field="*{deskripsi}" required />
            </br>

            Tempat Pelatihan: <br>
            <input class="form-control" type="text" th:field="*{tempat}" required />
            </br>

            Narahubung: <br>
            <input class="form-control" type="text" th:field="*{narahubung}" required />
            </br>

            Jenis Pelatihan: <br>
            <table class="table">
              <tbody>
                <tr>
                  <select class="form-control" name="tipePelatihan" id="tipePelatihan" th:field="*{tipe}" required>
                    <option value="Gernastastaka" th:text="'Gernastastaka'"></option>
                    <option value="Gernastastaba" th:text="'Gernastastaba'"></option>
                  </select>
                  <span class="fa-stack">
                    <i class="fas fa-caret-down fa-stack-1x"></i>
                  </span>
                </tr>
              </tbody>
            </table>

            Tanggal Pelatihan: <br>
            <input class="form-control" type="date" th:field="*{tanggal}" required />
            <br><br>

            <button class="btn btn-primary" type="submit" onclick="return confirmRegistration()">Submit</button>
            <a class="btn btn-primary" href="/">Home</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    function confirmRegistration() {
      return confirm("Apakah Anda yakin ingin menambahkan pelatihan dengan informasi yang telah diisi?");
    }
  </script>

</body>

</html> -->


<!-- <!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Add Pelatihan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-available {
            background-color: #087988;
            /* Warna tosca */
            color: #ffffff;
            /* Warna teks putih */
        }

        .btn-done {
            background-color: #e9ecef;
            /* Warna abu-abu muda */
            color: #000;
            /* Warna teks hitam */
        }

        .card {
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #007bff;
            color: #fff;
            border-radius: 15px 15px 0 0;
        }

        .card-title {
            margin-bottom: 0;
        }

        .form-group {
            margin-bottom: 1rem;
        }

        .rounded-pill {
            border-radius: 50px !important;
        }

        .input-group-text {
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        label {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('pelatihan')}"></nav>
    <br><br><br>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2 style="color: #153476;" class="text-center">Tambah Pelatihan</h2>
                    <br>
                    <form th:action="@{/pelatihan/add}" th:object="${pelatihanDTO}" method="POST" class="my-form">
                        <div class="form-group mb-3">
                            <label for="namaPelatihan">Nama Pelatihan:</label>
                            <input id="namaPelatihan" class="form-control rounded-pill" type="text" placeholder="Masukkan nama pelatihan" th:field="*{namaPelatihan}" required/>
                        </div>
                        <div class="form-group mb-3">
                            <label for="deskripsi">Deskripsi Pelatihan:</label>
                            <input id="deskripsi" class="form-control rounded-pill" type="text" placeholder="Masukkan deskripsi pelatihan" th:field="*{deskripsi}" required/>
                        </div>
                        <div class="form-group mb-3">
                            <label for="tempat">Tempat Pelatihan:</label>
                            <input id="tempat" class="form-control rounded-pill" type="text" placeholder="Masukkan tempat pelatihan" th:field="*{tempat}" required/>
                        </div>
                        <div class="form-group mb-3">
                            <label for="narahubung">Narahubung:</label>
                            <input id="narahubung" class="form-control rounded-pill" type="text" placeholder="Masukkan narahubung. contoh: Nama - Nomor Telepon" th:field="*{narahubung}" required/>
                        </div>
                        <div class="form-group mb-3">
                            <label for="tipePelatihan">Jenis Pelatihan:</label>
                            <div class="input-group">
                                <select class="custom-select rounded-pill" name="tipePelatihan" id="tipePelatihan" th:field="*{tipe}" required>
                                    <option value="Gernastastaka">Gernastastaka</option>
                                    <option value="Gernastastaba">Gernastastaba</option>
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text rounded-pill"><i class="fas fa-caret-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="tanggal">Tanggal Pelatihan:</label>
                            <input id="tanggal" class="form-control rounded-pill" type="date" th:field="*{tanggal}" required/>
                        </div>
                        <button class="btn btn-available" type="submit" onclick="return confirmRegistration()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function confirmRegistration() {
            return confirm("Apakah Anda yakin ingin menambahkan pelatihan dengan informasi yang telah diisi?");
        }
    </script>
</body>

</html> -->